.theme-switch {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--text_color);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: var(--font-weight-light);
  gap: 10px;
  outline: 0;
  text-align: center;
}
