.country-card {
  background: var(--elements_color);
  border-radius: 5px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  overflow: hidden;

  &__image {
    align-items: baseline;
    display: flex;
    min-height: 180px;

    img {
      width: 100%;
    }
  }

  &__content {
    color: var(--text_color);
    height: 150px;
    padding: 15px 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px;
  }

  &__label {
    font-size: 14px;
    font-weight: var(--font-weight-regular);
  }

  &__value {
    font-size: 14px;
    font-weight: var(--font-weight-light);
  }
}
